<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Blog Admin Portal</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="../../public/plugins/fontawesome/js/all.min.js"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="../public/css/style.css">

</head> 


<body>
    <footer class="app-footer">
        <div class="container text-center py-3">
             <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
             <small class="copyright">Copyright by&nbsp;<i class="fa-solid fa-copyright"></i>&nbsp;<a href="https://themes.3rdwavemedia.com" target="_blank">Parimal Tank</a></small>
           
        </div>
    </footer><!--//app-footer-->
</body>

</html>