 <!-- footer -->
<footer class="app-footer">
        <div class="container text-center py-3">
             <small class="copyright">Copyright by&nbsp;<i class="fa-solid fa-copyright"></i>&nbsp;<a href="https://themes.3rdwavemedia.com" target="_blank">Parimal Tank</a></small>
           
        </div>
</footer>
<!--//app-footer-->
