<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Blog Admin Portal</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="../../public/plugins/fontawesome/js/all.min.js"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="../../public/css/style.css">

</head> 

<body>

<div class="app-header-inner">  
		<div class="container-fluid py-2">
			<div class="app-header-content"> 
				<div class="row justify-content-between align-items-center">
				
				<div class="col-auto">
					<a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="/">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
					</a>
				</div><!--//col-->
				<div class="search-mobile-trigger d-sm-none col">
					<i class="search-mobile-trigger-icon fas fa-search"></i>
				</div><!--//col-->
				
				
				<div class="app-utilities col-auto">
					<div class="app-utility-item app-user-dropdown dropdown">
						<a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="../../public//images/user.png" alt="user profile"></a>
						<ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
							<li><a class="dropdown-item" href="/account">Account</a></li>
							<li><a class="dropdown-item" href="/settings">Settings</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/login">Log Out</a></li>
						</ul>
					</div><!--//app-user-dropdown--> 
				</div><!--//app-utilities-->
			</div><!--//row-->
			</div><!--//app-header-content-->
		</div><!--//container-fluid-->
	</div><!--//app-header-inner-->

</body>


</html>